body {
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: rgb(255, 190, 233);
}

.inicio{
	display: flex;
	height: 100vh;
}
.foto {
	flex: 1;
	background-color: rgb(251, 180, 255);
	display: flex;
	align-items: center;
	justify-content: center;
}

.foto img {
	width: 300px;
	height: auto;
	border-radius: 8px;
}